html{
	scroll-behavior: smooth;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
::-webkit-scrollbar {
	width: 10px;
	/*display: none;*/
  }

  ::-webkit-scrollbar-track {
	background: rgb(0, 0, 0);
  }
  
  ::-webkit-scrollbar-thumb {
	background: gold;
	transition: all 0.3s ease-in-out;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background: rgb(255, 255, 0);
	display: block;
  }
body{
	background-size: cover;
	min-height: 100vh;
	background-repeat: no-repeat;
	background: rgb(200,255,254);
	background: -moz-linear-gradient(180deg, rgba(200,255,254,0.8855917366946778) 21%, rgba(232,208,100,1) 66%, rgba(232,153,100,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(200,255,254,0.8855917366946778) 21%, rgba(232,208,100,1) 66%, rgba(232,153,100,1) 100%);
	background: linear-gradient(180deg, rgba(200,255,254,0.8855917366946778) 21%, rgba(232,208,100,1) 66%, rgba(232,153,100,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c8fffe",endColorstr="#e89964",GradientType=1);
}
.header{
	transform: translateY(-100%);
	position: -webkit-sticky;
	position: -moz-sticky;
  	position: sticky;
  	top: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-width: 9vh;
	background-color: gold;
	font-family:'ZCOOL XiaoWei', cursive;
}
.logo{
	margin-left: 3%;
	height: 50px;
	width: 50px;
}
.mynav{
	display: flex;
	justify-content: space-around;
	width: 60%;	
	list-style-type: none;
}
.mynav a{
	text-decoration: none;
	padding-top: 20%;
	padding-bottom: 15%;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: bold;
	color: red;
	letter-spacing: 3px;
}
.mynav a:hover{
	background: rgb(255,55,0);
	height: 100%;
	background: radial-gradient(circle, yellow 0%, gold 69%);
}
.burger{
	z-index: 30;
	cursor: pointer;
	display: none;
}
.burger div{
	width: 25px;
	height: 3px;
	margin: 5px;
	background-color: red;
	transition: all 0.4s ease;
}
.intro{
	background-repeat: no-repeat;
	cursor: pointer;
	background-color: darkred;
	background-image: url(./images/chinawall.jpg);
	background-blend-mode: screen;
	background-size: 150%;
	height: 400px;
	background-position: center;
	align-content: center;
	display: flex;
	justify-content: center;
	align-items: center;
	-moz-transition: all 2s ease-in-out;
	-webkit-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;
}
.intro:hover{
	background-image: url(./images/hassanII.jpg);
	background-size: 100%;
	background-position: bottom;
}
.logoimg{
	height: 200px;
	width: 200px;
}
.title{
	display: inline-block;
	justify-content: center;
	align-items: center;
}
.title h4{
	font-size: 50px;
	font-family: 'ZCOOL XiaoWei',cursive;
	font-weight: bolder;
	text-shadow: black 2px 3px 8px;
	color: gold;
}
.title h5{
	font-size: 30px;
	font-family: 'ZCOOL XiaoWei',cursive;
	font-weight: bold;
}
.slides{
	z-index: 4;
	background: rgb(251,212,31);
	background: linear-gradient(266deg, rgba(251,212,31,0.8) 0%, rgba(243,186,27,0.9) 19%, rgba(187,0,0,1) 96%);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateX(-100%);
}

.intro-animation{
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.introtext{
	color: gold;
	font-family:'Open Sans',cursive;
	font-size: 2em;
}
.hidden{
	background: black;
	overflow: hidden;
}
.hidden span{
	transform: translateY(100%);
	display: inline-block;
}
.introductions{
	width: 100%;
	font-family: 'Comfortaa', cursive;
	font-size: 20px;
	line-height: 1.7;
	background-color: rgb(255 223 136);
	margin-bottom: 20px;
}
.introductions h1{
	font-size: 80px;
	font-family:'Open Sans',cursive;
	color: gold;
	padding-bottom: 20px;
	background-color: black;
	font-weight: bolder;
	text-align: center;
	margin-bottom: 30px;
}
.introductions h2{
	font-size: 35px;
	font-family:'Open Sans',cursive;
	font-weight: bolder;
	text-align: center;
	margin-bottom: 30px;
	border: inset;
	padding-bottom: 20px;
	border-left: hidden;
	border-right: hidden;
	border-top: hidden;
	color: darkred;
	border-color: darkred;
}

.introductions p{
	font-family:'Open Sans',cursive;
	padding: 10px 20px;
	text-indent: 4em;
}
.videointro{
  align-items: center;
  box-sizing: content-box;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
iframe{
  width: 100%;
  height: 500px;
}
.colone{
	float: left;
	padding: 10px;
}
.section:after{
	content: "";
	display: table;
	clear: both;
}
.colone.sidenav{
	border: inset;
	border-left: hidden;
	border-right: hidden;
	border-bottom: hidden;
	border-color: red;
	width: 25%;
}
.colone.sidenav h2{
	font-size: 20px;
	font-family: 'ZCOOL XiaoWei',cursive;
	padding: 10px;
	margin: 5px 0px;
	text-align: center;
	text-transform: uppercase;
	background-image: url(./images/524746.jpg);
	background-position: top;
}
.colone.article{
	border: inset;
	border-left: hidden;
	border-right: hidden;
	border-bottom: hidden;
	border-color: red;
	width: 50%;
	font-family: 'Comfortaa', cursive;
	font-size: 17px;
	padding: 20px;
	line-height: 1.7;
	background-color: rgb(255 223 136);
}
.colone.article h2{
	font-family: 'ZCOOL XiaoWei',cursive;
	color: #cc4117;
	margin-top: 20px;
	margin-bottom: 30px;
	border-top-style: solid;
	text-transform: uppercase;
}
#photodem{
	max-width: 100%;
  	height: auto;
}
.colone.article p{
	text-indent: 3em;
}
.colone.aside{
	border: inset;
	border-left: hidden;
	border-right: hidden;
	box-sizing: 6px;
	border-color: red; 
	background-color: #ffffff75;
	width: 25%;
	font-family: 'Comfortaa', cursive;
	font-size: 15px;
	padding: 15px;
	font-weight: bold;
	line-height: 1.7;
}
#photoAside{
	align-self: center;
	max-width: 100%;
  	height: auto;
}
.asideElmnt{
	border: solid;
	border-left: hidden;
	border-right: hidden;
	border-top: hidden;
	box-sizing: 3px;
	border-color: gold;
}
.asideElmnt:after{
	content: "";
	display: table;
	clear: both;
}
.colone.aside h2{
	font-size: 20px;
	font-family: 'ZCOOL XiaoWei',cursive;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
}
.colone.aside a{
	float: right;
	background-color: gold;
	padding: 8px 20px;
	color: red;
	text-decoration: none;
	margin-top: 10px;
}
.news{
	background: #e51e00;
	display: block;
	align-items: center;
	list-style-type: none;
}
.news li a{
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Comfortaa', cursive;
	font-size: 15px;
	font-weight: bold;
	color: white;
	letter-spacing: 3px;
	padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    transition: all 0.5s ease-in-out;
}
.news li a:hover{
	font-size: 17px;
	color: black;
	background-color: gold;
}
.covid19{
	list-style-type: none;
	background: #7ce4be;
	background-image: url(./images/covid.png);
	background-position: right;
    background-size: 30%;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
	text-shadow: 5px 3px 10px black;
}
.covid19 a{
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Comfortaa', cursive;
	font-size: 15px;
	font-weight: bold;
	color: white;
	letter-spacing: 3px;
	padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    transition: all 0.5s;
}
.covid19 a:hover{
	background-image: url(./images/covid.png);
	background-position: right;
	font-size: 17px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
	color: black;
	background-color: lightgreen;
}
.news:after{
	content: "";
	display: table;
	clear: both;
}
.eco{
	background: #e51e00;
	display: block;
	align-items: center;
	list-style-type: none;
}
.eco li a{
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Comfortaa', cursive;
	font-size: 15px;
	color: white;
	font-weight: bolder;
	letter-spacing: 3px;
	padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    transition: all 0.5s ease-in-out;
}
.eco li a:hover{
	font-size: 17px;
	color: black;
	background-color: gold;
}
.Message{
	display: block;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-color: black;
	padding: 5px;
	border-top: double;
	border-color: gold;
}
.Message h3{
	text-align: center;
	background-color: #c1c1c1;
	font-family: 'Open Sans', cursive;
	font-size: 30px;
	text-transform: uppercase;
	padding: 5px 20px;
}
.Message p{
	padding: 10px 20px;
	text-indent: 2em;
	font-family: 'Open Sans', cursive;
	font-size: 20px;
	color: white;
}
.Message:after{
	content:  "";
	display: table;
	clear: both;
}
input[type="checkbox"] {
  filter: invert(100%) hue-rotate(18deg) brightness(1.7);
}
::placeholder{
	font-family:'Comfortaa',cursive;
	color: white;
	font-size: 15px;
}
#style1{
	font-family:'Comfortaa',cursive;
    color: white;
    font-size: 15px;
    display: block;
    padding: 8px;
    border-color: gold;
    border-width: thin;
    background: #a0a0a04d;
    border-right: none;
    border-top: none;
    border-left: none;
    width: 70%;
    margin: 10px 15px;
}
#style2{
	font-family:'Comfortaa',cursive;
	color: white;
    font-size: 15px;
    display: block;
    padding: 8px;
    border-color: gold;
    background: #a0a0a04d;
    border-right: none;
    border-top: none;
    border-left: none;
    width: 30%;
    margin: 10px 15px;
    height: 150px;
}
#style3{
	margin: 20px 15px;
}
#style4{
	font-family:'Open Sans',cursive;
	color: white;
	text-indent: 0em;
	margin: 20px 0px;
}
#style3 + #style4{
	display: inline-flex;
}
#range{
	display: flex;
	margin: 0px 30px;
	padding:5px 40px;
}
#nameLoc{
	font-family: 'Comfortaa', cursive;
	font-size: 10px;
	padding: 2px 20px;
	color: red;
}
#nickNameLoc{
	font-family: 'Comfortaa', cursive;
	font-size: 10px;
	padding: 2px 20px;
	color: red;
}
#mailLoc{
	font-family: 'Comfortaa', cursive;
	font-size: 10px;
	padding: 2px 20px;
	color: red;
}
#cross1{
	height: 30px;
	display: none;
	float: right;
	margin-right: 22%;
}
#cross2{
	height: 30px;
	display: none;
	float: right;
	margin-right: 22%;
}
#cross3{
	height: 30px;
	display: none;
	float: right;
	margin-right: 22%;
}
#check1{
	height: 25px;
	display: none;
	float: right;
	margin-right: 22%;
}
#check2{
	height: 25px;
	display: none;
	float: right;
	margin-right: 22%;
}
#check3{
	height: 25px;
	display: none;
	float: right;
	margin-right: 22%;
}
button{
	cursor: pointer;
	border: none;
	width: 100%;
	padding: 10px 5px;
	background-color: gold;
	color: red;
	font-family:'Open Sans',cursive;
	font-size: 20px;
	padding-bottom: 20px;
}
.footer{
	background: #fdce26;
	padding-top: 80px;
	padding-bottom: 40px;
	height: auto;
	width: 100%;
	font-family:'Comfortaa',cursive;
	font-size: 15px;
}

.resize{
	display: flex;
	justify-content: space-around;
	line-height: 2;
}
.links h3{
	font-weight: bold;
	font-size: 20px;
	font-family:'Open Sans',cursive;
	text-align: center;
	padding-bottom: 30px;
}
.links li{
	list-style-type: none;
}
.links{
	border-top: none;
    border-left: none;
    border-bottom: solid;
    border-color: black;
    border-right: none;
}
.contacts{
	border-top: none;
    border-left: none;
    border-bottom: solid;
    border-color: black;
    border-right: none;
}
.socials{
	border-top: none;
    border-left: none;
    border-bottom: solid;
    border-color: black;
    border-right: none;
}
#footerelmnt{
	color: #e51e00;
	text-decoration:none;
	font-size: 15px;
	font-weight: bolder;
}
#footerelmnt:hover{
	color: darkred;
	text-decoration: underline;
}
.socials h3{
	font-weight: bold;
	font-size: 20px;
	font-family:'Open Sans',cursive;
	text-align: center;
	padding-bottom: 30px;
}
.contacts h3{
	font-weight: bold;
	font-size: 20px;
	font-family:'Open Sans',cursive;
	text-align: center;
	padding-bottom: 30px;
}

.fa {
  background: black;
  color: white;
  cursor: pointer;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  width: 60px;
  transition: all 0.3s ease-in-out;
}
.fa:hover {
   border-radius: 50%;
}
.copyRight{
	background: black;
	color: white;
	text-align: center;
	font-family: 'Open Sans', cursive;
	height: 50px; 
	width: 100%;
}
.copyRight p{
	padding-top: 20px;
}

@media screen and (max-width:1000px){
	.mynav{
		width: 70%;
	}
	.intro{
	height: 300px;
	justify-content: center;
	align-items: center;
	}
	iframe{
	height: 400px;
	}
	.title h4{
	font-size: 40px;
	}
	.title h5{
	font-size: 30px;
	}
	.eco li a{
	font-size: 13px;
	letter-spacing: 2px;
	}
	.news li a{
	font-size: 13px;
	letter-spacing: 2px;
	}
	.footer{
	padding-top: 0px;
	padding-bottom: 0px;
	display: block;
	height: auto;
	background: black;
	}
	.resize{
		display: block;
		padding-bottom: 40px;
		text-align: center;
		background: #fdce26;
		box-sizing: content-box;
		width: 80%;
		margin-left: auto;
    	margin-right: auto;
	}
	.links h3{
	padding-top: 30px;
	}
	.socials h3{
	padding-top: 30px;
	}
	.contacts h3{
	padding-top: 30px;
	}
}

@media screen and (max-width:768px){
	.intro{
		width: 100%;
		display: inline-grid;
		height: 250px;
	}
	.intro:hover{
	background-size: 140%;
	}	
	.logoimg{
	height: 100px;
	width: 100px;
	margin: auto;
	}
		iframe{
	height: 400px;
	}
	.title h4{
	text-align: center;
	text-align: -webkit-center;
	}
	.title {
	font-size: 40px;
	}
	.title h5{
	text-align: center;
	text-align: -webkit-center;
	font-size: 20px;
	}
	body{
		overflow-x: hidden;
	}
	.mynav{
		position: absolute;
		right: 0px;
		height: 100vh;
		top: 6.5vh;
		background-color: gold;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		clip-path: circle(100px at 90% -30%);
		-moz-clip-path:circle(100px at 90% -30%);
		-webkit-clip-path:circle(100px at 90% -30%);
		transition: all 0.8s ease-out;
		-moz-transition: all 0.8s ease-out;
		-webkit-transition: all 0.8s ease-out;
	}
	.burger{
		display: block;
	}
	.mynav.open{
		clip-path: circle(1200px at 90% -30%);
		-moz-clip-path:circle(1200px at 90% -30%);
		-webkit-clip-path:circle(1200px at 90% -30%);
	}
	.introductions h1{
	font-size: 60px;
	}	
	.introtext{
	font-size: 1em;
	}
	.colone.article{
	width: 75%;
	}
	.colone.aside{
	width: 100%;
	}
	#cross1{
	margin-right: 10%;
	}
	#cross2{
	margin-right: 10%;
	}
	#cross3{
	margin-right: 10%;
	}
	#check1{
	margin-right: 10%;
	}
	#check2{
	margin-right: 10%;
	}
	#check3{
	margin-right: 10%;
	}
}

@media screen and (max-width:710px){
	.news li a{
		font-size: 12px;
	}
	.eco li a{
		font-size: 12px;
	}
	.colone.sidenav h2{
		font-size: 15px;
	}
	.introductions h1{
	font-size: 50px;
	}
	iframe{
	height: 300px;
	}
}

@media screen and (max-width:570px){
	.colone.sidenav{
	width: 100%;
	}
	.colone.article{
	width: 100%;
	}
	.colone.aside{
	width: 100%;
	}
	iframe{
	height: 300px;
	}
}

.toggle .line1{
	transform: rotate(-45deg) translate(-5px , 6px);
}
.toggle .line2{
	opacity: 0;
}
.toggle .line3{
	transform: rotate(45deg) translate(-5px , -6px);
}
	

